[submodule "thirdparty/core"]
	path = thirdparty/core
	url = https://github.com/rtryan98/core
[submodule "thirdparty/plf_colony"]
	path = thirdparty/plf_colony
	url = https://github.com/mattreecebentley/plf_colony
