[submodule "thirdparty/plf_colony"]
	path = thirdparty/plf_colony
	url = https://github.com/mattreecebentley/plf_colony
[submodule "thirdparty/D3D12MemoryAllocator"]
	path = thirdparty/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "thirdparty/volk"]
	path = thirdparty/volk
	url = https://github.com/zeux/volk
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "thirdparty/vk-bootstrap"]
	path = thirdparty/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
